# flyctl launch added from .gitignore
# Merged .gitignore 

# Backend rules 
**\logs
**\target
.bsp
.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID
**\.metals
**\*.db
**\*.log

# Frontend rules 
# Logs
**\logs
**\*.log
**\npm-debug.log*
**\yarn-debug.log*
**\yarn-error.log*
**\pnpm-debug.log*
**\lerna-debug.log*

**\node_modules
**\dist
**\dist-ssr
**\*.local

# Editor directories and files
**\.vscode\*
!**\.vscode\extensions.json
**\.idea
**\.DS_Store
**\*.suo
**\*.ntvs*
**\*.njsproj
**\*.sln
**\*.sw?

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml
# Editor-based HTTP Client requests
.idea\httpRequests
# Datasource local storage ignored files
.idea\dataSources
.idea\dataSources.local.xml

# flyctl launch added from .venv\.gitignore
.venv\**\*

# flyctl launch added from backend\.gitignore
backend\.bsp
backend\**\target
backend\**\.metals

# flyctl launch added from backendv2\.gitignore

backendv2\**\__pycache__
backendv2\**\.env
backendv2\**\venv
backendv2\**\.venv
backendv2\**\venv\Scripts

# flyctl launch added from backendv3\.gitignore
backendv3\**\.gradle
backendv3\**\build
!backendv3\**\gradle\wrapper\gradle-wrapper.jar
!backendv3\**\**\src\main\**\build
!backendv3\**\**\src\test\**\build

### STS ###
backendv3\**\.apt_generated
backendv3\**\.classpath
backendv3\**\.factorypath
backendv3\**\.project
backendv3\**\.settings
backendv3\**\.springBeans
backendv3\**\.sts4-cache
backendv3\**\bin
!backendv3\**\**\src\main\**\bin
!backendv3\**\**\src\test\**\bin

### IntelliJ IDEA ###
backendv3\**\.idea
backendv3\**\*.iws
backendv3\**\*.iml
backendv3\**\*.ipr
backendv3\**\out
!backendv3\**\**\src\main\**\out
!backendv3\**\**\src\test\**\out

### NetBeans ###
backendv3\nbproject\private
backendv3\nbbuild
backendv3\dist
backendv3\nbdist
backendv3\.nb-gradle

### VS Code ###
backendv3\**\.vscode

backendv3\**\.env

# flyctl launch added from frontend\.gitignore
# Logs
frontend\**\logs
frontend\**\*.log
frontend\**\npm-debug.log*
frontend\**\yarn-debug.log*
frontend\**\yarn-error.log*
frontend\**\pnpm-debug.log*
frontend\**\lerna-debug.log*

frontend\**\node_modules
frontend\**\dist
frontend\**\dist-ssr
frontend\**\*.local

# Editor directories and files
frontend\**\.vscode\*
!frontend\**\.vscode\extensions.json
frontend\**\.idea
frontend\**\.DS_Store
frontend\**\*.suo
frontend\**\*.ntvs*
frontend\**\*.njsproj
frontend\**\*.sln
frontend\**\*.sw?
fly.toml
